<%- include('header') -%>
<div class="container container-margin">
    <table class="table table-sm" data-toggle="table">
        <thead>
            <tr>
                <th scope="col" data-order='desc' data-field="#" data-sortable="true">#</th>
                <th scope="col" data-order='desc' data-field="name" data-sortable="true">Name</th>
                <th scope="col" data-order='desc' data-field="step" data-sortable="true">Step</th>
                <th scope="col" data-order='desc' data-field="error" data-sortable="true">Error</th>
                <th scope="col" data-order='desc' data-field="date" data-sortable="true">Date</th>
                <th scope="col" data-order='desc' data-field="operations" data-sortable="true">Operations</th>
            </tr>
        </thead>
        <tbody>
            <% logs.log.forEach((log, index) => { %>
            <tr class="<%= log.error ? `table-warning` : `` %>">
                <td scope="row" class="text-center">
                    <b><%= offset + index + 1 %></b>
                </td>
                <td>
                <div class="row">
                <div class="col-auto">
                    <img data-type="user" class="rounded-circle" width="50px" style="margin:10px" src="<%= log.image %>">
                </div>
                <div class="col-auto">
                    <a href="/milestones?user=<%= log.name %>&step=<%=log.step%>"><%= log.name %></a>
                    <br>
                    <a class="additional-info" href="https://last.fm/user/<%= log.name %>">Last.fm Profile</a>
                </div>
                </div>
                </td>
                <td class="text-center">
                    <%= numeral(log.step).format() %>
                </td>
                <td>
                    <%= log.error %>
                </td>
                <td class="text-center">
                    <%= moment(log.date).format(`D MMMM YYYY, HH:mm:ss`) %>
                </td>
                <td class="text-center">
                    <a href="/admin/logs/<%=log._id %>/remove">Remove</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <nav style="padding: 20px">
        <ul class="pagination justify-content-center">
            <li class="page-prev">
                <a class="" href="/admin/logs?offset=<%= offset - limit < 0 ? 0 : offset - limit %>">Previous</a>
            </li>
            <% if ((logs.page - 3) >= 1) {%>
            <li class="page-item <%= logs.page == 1 ? `page-current` : ``%>">
                <a class="" href="/admin/logs?offset=0">1</a>
            </li>
            <li class="page-item">
                <p>...</p>
            </li>
            <% } %>
            <% const endLimit = logs.page + 2 > logs.totalPages ? logs.totalPages : logs.page + 2 %>
            <% for (let i = (logs.page - 3) < 0 ? 0 : logs.page - 3; i < endLimit; i++) { %>
            <li class="page-item <%= logs.page == i + 1 ? `page-current` : ``%>">
                <a class="" href="/admin/logs?offset=<%= i * limit %>"><%= i + 1 %></a>
            </li>
            <% } %>
            <% if ((logs.page + 2) < logs.totalPages) { %>
            <li class="page-item">
                <p>...</p>
            </li>
            <li class="page-item <%= logs.page == logs.totalPages ? `page-current` : ``%>">
                <a class="" href="/admin/logs?offset=<%= (logs.totalPages - 1) * limit %>"><%= logs.totalPages %></a>
            </li>
            <% } %>
            <li class="page-next">
                <a class="" href="/admin/logs?offset=<%= (offset + limit) >= logs.totalPages * limit ? offset : offset + limit %>">Next</a>
            </li>
        </ul>
    </nav>
</div>
<%- include('footer')-%>