<%- include('header') -%>
<body>
<style>
.content {
    background-color:black; 
}
</style>
<header class="header">
        <div class="header-img milestones-img">
        <div class="container">
                    <div class="row justify-content-start align-items-center center-text" style="top:20%">
                        <div class="col-md-auto col-5">
                            <img class="rounded-circle" src="<%= user.image[2]["#text"]%>" width="150px"/>
                        </div>
                        <div class="col-md-auto col-7 user-info">
                            <div class="align-middle">
                                <h4 class="block-bg username"><a href="<%=user.url%>"><%=user.name%></a></h4>
                                <div class="user-info">
                                <h4 class="block-bg" style="margin-bottom: 0"><a href="<%=user.url%>/library"><%=numeral(user.playcount).format("0,0")%> scrobbles</a></h4>
                                <% const regTime = moment(user.registered.unixtime * 1000);
                                const dur = moment(moment() - regTime) %>
                                <div class="block-bg additional-info">since <%=regTime.format("Do MMMM YYYY")%></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <div class="row no-gutters justify-content-md-center">
    <% for (milestone of milestones) {%>
        <% if (milestone) { %>
        <div class="col-lg-3 col-sm-6 col-md-4 col-6" %>>
        
        <a href="<%= milestone.url %>">
            <div class="milestone-cover">
                <img src="<%= milestone.image[3]["#text"] ? milestone.image[3]["#text"] : "https://lastfm-img2.akamaized.net/i/u/300x300/c6f59c1e5e7240a4c0d427abd71f3dbb" %>">
            </div>
            </a>
        <div class="milestone-info">
        <div class="milestone-name">
            <a href="<%= milestone.url %>"><%= milestone.name%></a>
        </div>
        <div class="milestone-artist">
            <a href="https://last.fm/artist/<%= milestone.artist["#text"] %>"><%= milestone.artist["#text"] %></a>
        </div>
    </div>
    <div class="milestone-meta">
        <div class="block-bg milestone-number">
            #<%= milestone.milestoneNumb === 0 ? 1 : numeral(milestone.milestoneNumb).format("0,0") %>
        </div>
        <div class="block-bg additional-info">
            <%= moment(milestone.date.uts * 1000).format("Do MMMM YYYY H:mm") %>
        </div>
    </div>
    </div>
    <% } %>
    <% } %>
    </div>
<%- include('footer') -%>