<%- include('header') -%>

<body>
    <link rel="stylesheet" href="/css/milestones.css">
    <link rel="stylesheet" href="/css/timeline.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <header class="header">
        <div class="header-img" style="background-image: url('<%= milestones[0] ? milestones[0].image : '/images/header.jpg' %>')">
            <div class="container header-info center-content">
                <div class="row">
                    <div class="col-12 col-lg-6 d-flex align-items-center">
                        <div class="row">
                            <div class="col-auto">
                                <img class="rounded-circle user-image" src="<%= user.image %>" data-type="user">
                            </div>
                            <div class="col-auto">
                                <% const average = user.playcount / ((moment().diff(moment(user.registered.unixtime * 1000), "days") + 2)); %>
                                <div class="username"><a href="/milestones?user=<%= user.name %>&step=<%= step %>">
                                        <%= user.name %></a></div>
                                <span class="additional-info">
                                    <%= user.realname ? user.realname : user.name %> </span>
                                <span class="additional-info">scrobbling since
                                    <%= moment(user.registered["#text"] * 1000).format("DD MMMM YYYY") %></span>
                                <ul class="header-metadata">
                                    <li class="header-metadata-item">
                                        <h4 class="header-metadata-title">Scrobbles</h4>
                                        <p class="header-metadata-display"><a href="https://last.fm/user/<%= user.name %>/library">
                                                <%= numeral(user.playcount).format() %></a></p>
                                    </li>
                                    <li class="header-metadata-item">
                                        <h4 class="header-metadata-title">Average per day</h4>
                                        <p class="header-metadata-display">
                                            <%= numeral(average).format() %>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% if (milestones[0]) { %>
                    <div class="col-12 col-lg-6 d-flex justify-content-lg-end text-lg-right">
                        <div class="col">
                            <h4 class="featured-item-heading">First scrobble</h4>
                            <a href="/song/<%= milestones[0].name %>&user=<%= user.name %>" class="featured-item-name">
                                <%= milestones[0].name %></a>
                            <a href="/artist/<%= milestones[0].artist %>&user=<%= user.name %>" class="featured-item-artist">
                                <%= milestones[0].artist %></a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </header>
    <% const milestoneHistory = {}; 
    const milestoneSpeed = {} %>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div id="timeline">
                    <div class="line">
                        <% if (milestones.length <= 1) { %>
                        <section class="year">                            
                            <section>
                                <ul class="milestone">
                                    <li>
                                        <div>
                                            <div>
                                                <h5>Whoops, you have less than <%= numeral(step).format() %> (a selected step) scrobbles right now, but we have a prediction for you!</h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        <% } %>
                        <% for (let i = 1; i < milestones.length; i++) {
                                    let milestone = milestones[i];
                                    if (milestone) { 
                                        if (!milestone.suggested) { 
                                            const key = moment(milestone.date.uts * 1000).year()
                                            typeof milestoneHistory[key] === 'undefined' ? milestoneHistory[key] = 1 : milestoneHistory[key]++;
                                            const notSuggestedMilestone = milestones[i-1] && milestones[i - 1].suggested ? milestones[i - 2].date.uts * 1000 : milestones[i - 1].date.uts * 1000;
                                            milestoneSpeed[milestone.scrobbleNumb] = moment(milestone.date.uts * 1000).diff(moment(i > 1 ? notSuggestedMilestone : user.registered["#text"] * 1000), "days");
                                        }
                                        if (i == 1 && milestones[i-1] || moment(milestones[i - 1].date.uts * 1000).year() != moment(milestone.date.uts * 1000).year()) { 
                                             %>
                        <section class="year">
                            <h3>
                                <%= moment(milestone.date.uts * 1000).year() %>
                            </h3>
                            <% } %>
                            <section>
                                <ul class="<%= milestone.suggested ? `suggested` : `milestone` %>">
                                    <li>
                                        <div>
                                            <div>
                                                <h5>Reached
                                                    <%= numeral(milestone.scrobbleNumb).format() %> scrobble!
                                                </h5>
                                                <h4>
                                                    <% if (milestone && milestone.suggested) { %>
                                                        <span class="additional-info">Discover more milestone scrobbles like this with a custom step!</span><br><br>
                                                    <% } %>
                                                <%= moment(milestone.date.uts * 1000).format("DD MMM YYYY, HH:mm") %>; it took
                                                <%= moment(milestone.date.uts * 1000).diff(moment(i > 1 ? milestones[i - 1].date.uts * 1000 : user.registered["#text"] * 1000), "days") %>
                                                days since
                                                <%= i > 1 ? `you hit ${numeral(milestones[i - 1].scrobbleNumb).format()}` : "signup" %>.
                                            </h4>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-auto d-flex align-items-center">
                                                    <a href="/song/<%= milestone.name %>">
                                                        <img src="<%= milestone.image %>" data-type="album" class="rounded-circle" width="125px">
                                                    </a>
                                                </div>
                                                <div class="col d-flex align-items-center">
                                                    <div>
                                                        <div class="milestone-info">
                                                            <h5 class="header-metadata-title">Song Title</h5>
                                                            <a href="<%= milestone.url %>" class="featured-item-name">
                                                                <%= milestone.name %></a>
                                                        </div>
                                                        <% if (milestone.album) { %>
                                                        <div class="milestone-info">
                                                            <h5 class="header-metadata-title">From the album</h5>
                                                            <a href="http://last.fm/music/<%= milestone.artist %>/<%= milestone.album %>" class="featured-item-artist">
                                                                <%= milestone.album %></a>
                                                        </div>
                                                        <% } %>
                                                        <div class="milestone-info">
                                                            <h5 class="header-metadata-title">By</h5>
                                                            <a href="http://last.fm/music/<%= milestone.artist %>/" class="featured-item-name">
                                                                <%= milestone.artist %></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                            <% if (i == milestones.length - 1 || moment(milestones[i + 1].date.uts * 1000).year() != moment(milestone.date.uts * 1000).year()) { %>
                        </section>
                        <% } %>
                        <% } %>
                        <% } %>
                    </div>
                </div>
                <% const daysToHit = (milestones[milestones.length - 1].scrobbleNumb + step - user.playcount) / average;
                        const predictedDate = moment().add(Math.ceil(daysToHit), "days")  %>
                <div id="timeline">
                    <div class="suggested-line">
                        <section class="year">
                            <h3>
                                <%= predictedDate.year() === moment(milestones[milestones.length - 1].date.uts * 1000).year() ? "" : predictedDate.year() %>
                            </h3>
                            <section>
                                <ul class="suggested">
                                    <li>
                                        <h5>Only
                                            <%= numeral(milestones[milestones.length - 1].scrobbleNumb + step - user.playcount).format() %>
                                            scrobbles left until you hit
                                            <%= numeral(milestones[milestones.length - 1].scrobbleNumb + step).format() %>!</h5>
                                        <h4>We are expecting you to hit
                                            <%= numeral(milestones[milestones.length - 1].scrobbleNumb + step).format() %>
                                            on
                                            <%= predictedDate.format("DD MMM YYYY") %>%>.
                                            <br><br><div class="additional-info">This prediction is based on your average scrobble count per day and changes as you approach your next milestone.</div>    
                                        </h4>
                                    </li>
                                </ul>
                            </section>
                        </section>
                    </div>
                </div>
            </div>
            <% if (milestones.length > 1) { %>
            <div class="col-lg-4 col-12">
                <h5>Milestone Scrobbles History</h5>
                <div class="card-body">
                    <canvas id="chart" height="<%=(Object.keys(milestoneHistory).length + 1) * 65%>px" width="500px">

                    </canvas>
                </div>
                <h5>Milestone Reaching Speed</h5>
                <div class="card-body">
                    <canvas id="speed-chart" height="<%=(milestones.length) * 65%>px" width="500px">

                    </canvas>
                </div>
                <h5>Share Your Milestones</h5>
                <% const shareLink = `http://lastmilestones.tk/milestones?user=${user.name}%26step=${step}`;
                const shareText = `Just reached ${milestones[milestones.length - 1].scrobbleNumb} scrobble! More of my @lastfm milestones here: ` %>
                <div class="pb-4 pt-2 text-center">                    
                    <a class="btn btn-twitter" target="_blank" href="https://twitter.com/intent/tweet?url=<%= shareLink %>&text=<%= shareText %>"><i class="fab fa-twitter"></i> Tweet</a>
                    <a class="btn btn-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= shareLink %>"><i class="fab fa-facebook"></i> Share</a>
                    <button class="btn btn-light" id="copyLink"><i class="fas fa-link"></i> Copy link</button>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <script>
        $("#copyLink").click(() => {
            const el = document.createElement('textarea');
            el.value = "<%=`http://lastmilestones.tk/milestones?user=${user.name}&step=${step}`%>";
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
            $("#copyLink").html(`<i class="fas fa-link"></i> Copied!`);
        })

        const milestoneHistory = <%- JSON.stringify(milestoneHistory) %>;
        const ctx = $("#chart");
        const myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: Object.keys(milestoneHistory),
                datasets: [{
                    data: Object.values(milestoneHistory),
                    backgroundColor: "rgba(185, 0, 0, 0.2)"
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            borderDash: [8, 2],
                            drawBorder: false,
                            color: "rgba(128, 128, 128, 0.25)",
                        },
                        ticks: {
                            beginAtZero: true,
                            padding: 10,
                            callback: function (value) { if (Number.isInteger(value)) { return value; } },
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            drawBorder: false,
                            display: false,
                        },
                        ticks: {
                            beginAtZero: false,
                            padding: 10
                        }
                    }],
                },
                tooltips: {
                    custom: function(tooltip) {
                        if (!tooltip) return;
                        tooltip.displayColors = false;
                    },
                    callbacks: {
                        label: function(tooltipItem, data) {
                            return `${tooltipItem.xLabel} ${tooltipItem.xLabel == 1 ? "milestone" : "milestones"}`;
                        },
                        title: function(tooltipItem, data) {
                            return;
                        }
                    }
                },
                legend: {
                    display: false
                }
            }
        });
        const milestoneSpeed = <%- JSON.stringify(milestoneSpeed) %>;
            const speedChartCtx = $("#speed-chart");
            const speedChart = new Chart(speedChartCtx, {
                type: 'horizontalBar',
                data: {
                    labels: Object.keys(milestoneSpeed),
                    datasets: [{
                        data: Object.values(milestoneSpeed),
                        backgroundColor: "rgba(185, 0, 0, 0.2)"
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            gridLines: {
                                borderDash: [8, 2],
                                drawBorder: false,
                                color: "rgba(128, 128, 128, 0.25)",
                            },
                            ticks: {
                                beginAtZero: true,
                                padding: 10,
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                drawBorder: false,
                                display: false,
                            },
                            ticks: {
                                beginAtZero: false,
                                padding: 10,
                                callback: (value, index, values) => {
                                    return `${numeral(value).format("0,000")}`;
                                }
                            }
                        }],
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        custom: function(tooltip) {
                            if (!tooltip) return;
                            tooltip.displayColors = false;
                        },
                        callbacks: {
                            label: function(tooltipItem, data) {
                                console.log(data);
                                console.log(JSON.stringify(tooltipItem))
                                return `${tooltipItem.xLabel} ${tooltipItem.xLabel == 1 ? "day" : "days"} since ${tooltipItem.index == 0 ? "signup" : data.labels[tooltipItem.index - 1]}`;
                            },
                            title: function(tooltipItem, data) {
                                return;
                            }
                        }
                    }
                }
            });
    </script>
    <%- include('footer') -%>